.contenedorTitulo{
    display: flex;
    width: 364px;
    justify-content: space-between;
    height: 26px;
    margin-top: 10px;
}

h4{
    margin: 0px;
    margin-left: 2px;
}

p{
 margin: 0px;
 margin-right: 2px;
}